@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");
:root {
  --primary-color:#AB0433;
  --button: #FF753A;
}

body {
  background: white;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

nav {
  display: none;
}

.hero-navbar {
  background-image: url("../images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -20em;
  width: 100%;
  height: 500px;
}

.hero-navbar .container {
  height: 100%;
  position: relative;
}

.hero-navbar .container .navbar {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-navbar .container .mobile-menu {
  font-size: 1.5em;
}

.hero-navbar .logo-brandname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-navbar .logo-brandname a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
}

.hero-navbar .logo-brandname a span {
  font-weight: bold;
}

.hero-navbar .logo-brandname .brandname {
  margin-top: 0.5em;
  margin-left: .3em;
}

.hero-navbar .hero-text {
  height: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  padding: 2em;
  text-align: center;
  color: white;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}

.hero-navbar .hero-text h1 {
  margin: 5em 0;
  line-height: 1.5em;
}

.call-out {
  height: 210px;
  width: 90%;
  position: relative;
  margin: 0 auto;
}

.call-out .container {
  text-align: center;
  border-radius: 5%;
  background-color: var(--primary-color);
  padding: .3em;
  position: absolute;
  z-index: 999;
  height: 100%;
  top: -8em;
  color: white;
}

.call-out h5 {
  text-transform: uppercase;
  font-size: 1.8em;
  margin: .3em 0;
}

.call-out p {
  margin-top: 0;
  font-size: 1em;
  font-weight: bold;
}

.call-out a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  background-color: var(--button);
  padding: 1.3em;
  margin: 0 auto;
  width: 150px;
  cursor: pointer;
  border-radius: 5em;
  font-weight: bold;
}

section {
  padding: 1.5em;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.new-products {
  margin-top: -3em;
}

.new-products .products-heading {
  text-align: center;
}

.new-products .products-heading h1 {
  margin-top: .5em;
}

ul {
  margin: 0 auto;
}

li {
  margin: 2em auto;
  background-color: #DDDDDD;
  border-radius: 1em;
  text-align: center;
}

li .product-details {
  background: white;
  padding: .2em;
}

li .product-details .product-brand-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  font-weight: bold;
}

li .product-details .product-description {
  font-size: .8em;
  text-align: left;
}

li .product-details .product-color {
  text-align: center;
  margin-top: 1.5em;
  border: 1px solid #EAEAEA;
  width: 180px;
  border-radius: 5em;
}

.top-bar {
  border: 0.2em solid var(--primary-color);
  width: 100px;
  background-color: #AB0433;
  margin-bottom: 0;
}

.popular-finds {
  margin-top: -3em;
}

.popular-finds .products-heading {
  text-align: center;
}

.popular-finds .products-heading h1 {
  margin-top: .5em;
}
/*# sourceMappingURL=main.css.map */